<option disabled <% if (!data.location) { %> selected <% } %> hidden>Select Location</option>
              <option <% if (data.location === 'Ikenegbu') { %> selected <% } %>>Ikenegbu</option>
              <option <% if (data.location === 'Orji') { %> selected <% } %>>Orji</option>
              <option <% if (data.location === 'Wetheral') { %> selected <% } %>>Wetheral</option>
              <option <% if (data.location === 'World Bank') { %> selected <% } %>>World Bank</option>
              <option <% if (data.location === 'Amakohia') { %> selected <% } %>>Amakohia</option>
              <option <% if (data.location === 'Control') { %> selected <% } %>>Control</option></select>