<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="/favicon/logo.ico" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>FUTO Student | Staff Bus Service</title>

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap"
      rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <section>
        <div>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore
          veniam ipsa ea, earum voluptatem amet sint culpa est illo corporis
          quod dolores commodi molestias omnis ut, quam laboriosam reprehenderit
          quis autem vitae praesentium ad accusantium perferendis placeat.
          Nesciunt sint voluptatibus minus possimus. Molestiae sed possimus
          facilis repellat debitis accusamus perspiciatis!
          <button type="button" class="type">toogle</button>
        </div>
      </section>
    </main>

    <script src="/js/cokiesettings.js"></script>
  </body>
</html>
