<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <!-- Site Metas -->
  <link rel="icon" href="favicon/logo.ico" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>FUTO Student | Staff Bus Service</title>

  <!-- fonts style -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap"
    rel="stylesheet"
  />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Cookie Pop-up Modal -->
    <div id="cookieModal" class="modal">
      <div class="modal-content">
        <h3>Cookie Consent</h3>
        <p>Life is better with cookies. Most people would agree cookies make life better. For us, they help us make our site and marketing better.</p>
        <p>By using this website, you consent to the use of cookies. You can manage your preferences in the cookie settings.</p>
        <button type="button" id="acceptBtn">Accept</button>
        <button type="button" id="rejectBtn">Reject</button>
        <button type="button" id="settingsBtn">Cookie Settings</button>
      </div>
    </div>
    <div id="cookieValue"></div>

    <script src="js/cookie.js"></script>
  </body>
</html>