<!doctype html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- titile -->
    <title>FUTO Student | Staff Bus Service</title>

    <!-- favicon -->
    <link rel="icon" href="/favicon/logo.ico" type="image/gif" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap"
      rel="stylesheet" />

    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/style2.css" rel="stylesheet" />

    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
  </head>
  <body style="height: 130vh">
    <nav class="navbar_1">
      <div class="container__1">
        <a href="/" class="img_anchor">
          <img src="./images/futo logo.jpg" alt="futo logo" class="futo_logo" />
        </a>
        <h1 class="h4">Futo Shuttle Transport</h1>
      </div>
    </nav>

    <div class="fgtpword-container">
      <form action="/forgotpassword" id="form">
        <label for="password">
          Forgot Password
          <input
            type="password"
            name="password"
            id="password"
            class="passwordinp" />
        </label>
        <label for="password">
          Confirm Password
          <input
            type="password"
            name="password"
            id="confirmpassword"
            class="passwordinp" />
        </label>
        <button type="submit" class="pwordbtn">Submit</button>
      </form>
    </div>

    <!-- custom JavaScript -->
    <script src="/js/password.js"></script>

    <!-- jquery -->
    <script src="/js/jquery-3.4.1.min.js"></script>

    <!-- bootstrap js -->
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
